.step {
  max-height: 90px;
  overflow: hidden;
  transition: max-height 0.6s ease;
  will-change: max-height;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.step:hover {
  max-height: 200px;
}

.open {
  max-height: 1000px;
  justify-content: center;
}

.open:hover {
  max-height: 1000px;
}

.title {
  margin-top: 0;
  font-family: 'Baskerville', serif;
  font-weight: 400;
  font-style: italic;
  line-height: 93%;
  letter-spacing: -0.32px;
  cursor: pointer;
}
